/* APP STYLES FROM REACT */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  margin: 30px auto 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #313a4a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* CUSTOM APP STYLES */

.App h2 {
  margin: 0 auto;
  padding: 0;
}

.App a {
  padding: 0 10px;
  text-decoration: none;
}

/* GENERAL PAGE STYLES */

body > iframe {
  display: none;
}

body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #f0f0f0;
  padding: 20px;
}

header p {
  font-size: 16px;
}

.container {
  display: flex;
  height: 100vh;
}

main {
  flex: 1;
  /* padding: 20px; */
  background-color: #fff;
  height: 100%;
}

.sidebar {
  background-color: #f8f8f8;
  /* padding: 20px; */
  padding: 15px;
}

.sidebar h2 {
  font-size: 0.9rem;
}

.sidebar-left {
  /* flex-basis: 200px; */
  width: 130px;
}

.sidebar-right {
  /* flex-basis: 200px; */
  width: 120px;
}

/* FADE FUNCTION STYLES */

@keyframes fade-out {
  from {
    opacity: 100%;
  }
  to {
    opacity: 15%;
  }
}

@keyframes fade-in {
  from {
    opacity: 15%;
  }
  to {
    opacity: 100%;
  }
}

/* BUTTON STYLES */

#soundon {
  margin: 10px auto;
  background-color: #3b1ec9;
  color: #fff;
  font-weight: bold;
  font-size: 0.9rem;
  border: 1px solid #999;
  border-radius: 2px;
}

#soundon:disabled {
  background-color: #55bd47;
}

.btn-temp {
  width: 100%;
  margin: 1px auto;
  background-color: #fff;
  color: #444;
  font-size: 0.6rem;
  border: 1px solid #555;
  border-radius: 2px;
}

.btn-line {
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  color: #fff;
  font-size: 0.7rem;
  /* border: 1px solid #555; */
  border: none;
  /* border-radius: 2px; */
  cursor: pointer;
}

.btn-bakerloo {
  background-color: rgb(160, 112, 34);
}

.btn-central {
  background-color: rgb(220, 36, 31);
}

.btn-circle {
  background-color: rgb(255, 211, 41);
}

.btn-district {
  background-color: rgb(0, 125, 50);
}

.btn-hammersmith-city {
  background-color: rgb(244, 169, 190);
}

.btn-jubilee {
  background-color: rgb(161, 165, 167);
}

.btn-metropolitan {
  background-color: rgb(117, 16, 86);
}

.btn-northern {
  background-color: rgb(0, 0, 0);
}

.btn-piccadilly {
  background-color: rgb(0, 25, 168);
}

.btn-victoria {
  background-color: rgb(0, 152, 216);
}

.btn-waterloo-city {
  background-color: rgb(106, 187, 170);
}

/* ARRIVAL EFFECTS */

.createArrival1 {
  background-color: rgb(255, 233, 123);
  border: 0.1px solid rgb(255, 89, 0);
  animation: createArrivalEffect1 2s forwards;
  box-shadow: 0 0 0.3px 1px rgba(255, 111, 0, 0.4); 
}

.createArrival2 {
  background-color: rgb(255, 233, 123);
  /* border: 0.1px solid rgb(255, 136, 0); */
  animation: createArrivalEffect2 2s forwards;
  box-shadow: 0 0 0.4px 2px rgba(255, 174, 0, 0.4); 
}

.createArrivalAfterShock1 {
  background-color: rgb(255, 233, 123);
  border: 0.1px solid rgb(255, 149, 0);
  animation: createArrivalAfterEffect1 1.7s forwards;
  box-shadow: 0 0 5px 2px rgba(255, 191, 0, 0.4);
}

.createArrivalAfterShock2 {
  background-color: rgb(255, 233, 123);
  /* border: 0.1px solid rgb(255, 0, 0); */
  animation: createArrivalAfterEffect2 1.7s forwards;
  box-shadow: 0 0 4px 3px rgba(255, 191, 0, 0.4);
}

@keyframes createArrivalEffect1 {
  0% {
    background-color: rgb(255, 106, 0);
    transform: translate(-50%, -50%) scale(1);
    opacity: 90%;
  }
  40% {
    opacity: 55%;
  }
  60% {
    background-color: rgb(255, 183, 0);
    opacity: 20%
  }
  75% {
    opacity: 1%
  }
  100% {
    background-color:rgb(255, 233, 123);
    transform: translate(-50%, -50%) scale(15);
    opacity: 0%;
  }
}

@keyframes createArrivalEffect2 {
  0% {
    background-color: rgb(255, 77, 0);
    transform: translate(-50%, -50%) scale(1);
    opacity: 90%;
  }
  40% {
    opacity: 55%;
  }
  60% {
    background-color: rgb(254, 229, 88);
    opacity: 20%
  }
  75% {
    opacity: 1%
  }
  100% {
    background-color:rgb(255, 176, 18);
    transform: translate(-50%, -50%) scale(15);
    opacity: 0%;
  }
}

@keyframes createArrivalAfterEffect1 {
  0% {
    background-color: rgb(255, 85, 0);
    transform: translate(-50%, -50%) scale(1);
    opacity: 90%;
  }
  40% {
    opacity: 45%;
  }
  60% {
    background-color: rgb(255, 153, 0);
    opacity: 20%
  }
  75% {
    opacity: 1%
  }
  100% {
    background-color:rgb(255, 233, 123);
    transform: translate(-50%, -50%) scale(15);
    opacity: 0%;
  }
}

@keyframes createArrivalAfterEffect2 {
  0% {
    background-color: rgb(255, 238, 0);
    transform: translate(-50%, -50%) scale(1);
    opacity: 90%;
  }
  40% {
    opacity: 45%;
  }
  60% {
    background-color: rgb(255, 233, 124);
    opacity: 20%
  }
  75% {
    opacity: 1%
  }
  100% {
    background-color:rgb(255, 224, 67);
    transform: translate(-50%, -50%) scale(15);
    opacity: 0%;
  }
}

.arrivalInner {
  fill: orange;
  animation: arrivalEffectInner 1.5s forwards;
}

@keyframes arrivalEffectInner {
  0% {
    fill: white;
  }
  10% {
    fill: rgb(255, 213, 0);
  }
  40% {
    fill: rgb(255, 106, 0);
  }
  90% {
    fill: rgb(255, 213, 0);
  }
  100% {
    fill: white;
  }
}



.arrivalOuter {
  fill: black;
  animation: arrivalEffectOuter 1.5s forwards;
} 

@keyframes arrivalEffectOuter {
  0% {
    fill: black;
  }
  15% {
    fill: rgb(137, 0, 0);
  }
  50% {
    fill: rgb(206, 0, 0);
  }
  85% {
    fill: rgb(137, 0, 0);
  }
  100% {
    fill: black;
  }
}

.map-and-buttons {
  position: relative;
}



