body > iframe {
  display: none;
}

@media (prefers-reduced-motion: no-preference) {
  .luso-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  #tap-in {
    animation: tap-in-spin infinite 5s linear;
  }
}

@keyframes tap-in-spin {
  from {
    transform: translate(-50%, -50%)rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%)rotate(360deg);
  }
}

#tap-in {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: calc(10px + 2vmin);
  color: #fff;
  font-weight: bold;
  text-shadow: 0 0 5px #000;
  z-index: 1000;
  cursor: url('./oyster-card.png');
}

/* GENERAL PAGE STYLES */

body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Hide scrollbars */
}

header {
  background-color: #f0f0f0;
  padding: 20px;
}

header p {
  font-size: 16px;
}

.container {
  display: flex;
  height: 93vh;
}

main {
  flex: 1;
  /* padding: 20px; */
  background-color: #fff;
  height: 100%;
  cursor: url('./oyster-card.png'), auto;
}

.sidebar {
  background-color: #f2f1f1;
  padding: 0 20px;
  width: 200px;
}

.sidebar h2 {
  font-size: 1.8rem;
  z-index: 100;
  margin: 10px 0;
}

/* FADE FUNCTION STYLES */

@keyframes fade-out {
  from {
    opacity: 100%;
  }
  to {
    opacity: 15%;
  }
}

@keyframes fade-in {
  from {
    opacity: 15%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes full-fade-out {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}

@keyframes full-fade-in {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

