:root {
  --createArrivalBase: rgb(255, 233, 123);

  --createArrival1Border: rgb(255, 89, 0);
  --createArrivalAfterShock1Border: rgb(255, 149, 0);

  --createArrival2Border: rgb(255, 136, 0);
  --createArrivalAfterShock2Border: rgb(255, 0, 0);

  --createArrival2BoxShadow: rgba(255, 174, 0, 0.4);
  --createArrivalAfterShock1BoxShadow: rgba(255, 191, 0, 0.4);

  --createArrival1BoxShadow: rgba(255, 111, 0, 0.4);
  --createArrivalAfterShock2BoxShadow: rgba(255, 191, 0, 0.4);

  --fx1Transition1: rgb(255, 106, 0);
  --fx1Transition2: rgb(255, 183, 0);
  /* --fx1Transition3: rgb(255, 233, 123); USE createArrivalBase */

  --fx2Transition1: rgb(255, 77, 0);
  --fx2Transition2: rgb(254, 229, 88);
  --fx2Transition3: rgb(255, 176, 18);

  --fx3Transition1: rgb(255, 85, 0);
  --fx3Transition2: rgb(255, 153, 0);
  /* --fx3Transition3: rgb(255, 233, 123); USE createArrivalBase */

  --fx4Transition1: rgb(255, 238, 0);
  --fx4Transition2: rgb(255, 233, 124);
  --fx4Transition3: rgb(255, 224, 67);
}

.createArrival1 {
  background-color: var(--createArrival1Base);
  border: 0.1px solid var(--createArrival1Border);
  animation: createArrivalEffect1 2s forwards;
  box-shadow: 0 0 0.3px 1px var(--createArrival1BoxShadow); 
}

.createArrival2 {
  background-color: var(--createArrival1Base);
  animation: createArrivalEffect2 2s forwards;
  box-shadow: 0 0 0.4px 2px var(--createArrival2BoxShadow); 
}

.createArrivalAfterShock1 {
  background-color: var(--createArrival1Base);
  border: 0.1px solid var(--createArrivalAfterShock1Border);
  animation: createArrivalAfterEffect1 1.7s forwards;
  box-shadow: 0 0 5px 2px var(--createArrivalAfterShock1BoxShadow);
}

.createArrivalAfterShock2 {
  background-color: var(--createArrival1Base);
  animation: createArrivalAfterEffect2 1.7s forwards;
  box-shadow: 0 0 4px 3px var(--createArrivalAfterShock2BoxShadow);
}

@keyframes createArrivalEffect1 {
  0% {
    background-color: var(--fx1Transition1);
    transform: translate(-50%, -50%) scale(1);
    opacity: 90%;
  }
  40% {
    opacity: 55%;
  }
  60% {
    background-color: var(--fx1Transition2);
    opacity: 20%
  }
  75% {
    opacity: 1%
  }
  100% {
    background-color:var(--createArrival1Base);
    transform: translate(-50%, -50%) scale(15);
    opacity: 0%;
  }
}

@keyframes createArrivalEffect2 {
  0% {
    background-color: var(--fx2Transition1);
    transform: translate(-50%, -50%) scale(1);
    opacity: 90%;
  }
  40% {
    opacity: 55%;
  }
  60% {
    background-color: var(--fx2Transition2);
    opacity: 20%
  }
  75% {
    opacity: 1%
  }
  100% {
    background-color:var(--fx2Transition3);
    transform: translate(-50%, -50%) scale(15);
    opacity: 0%;
  }
}

@keyframes createArrivalAfterEffect1 {
  0% {
    background-color: var(--fx3Transition1);
    transform: translate(-50%, -50%) scale(1);
    opacity: 90%;
  }
  40% {
    opacity: 45%;
  }
  60% {
    background-color: var(--fx3Transition2);
    opacity: 20%
  }
  75% {
    opacity: 1%
  }
  100% {
    background-color:var(--createArrival1Base);
    transform: translate(-50%, -50%) scale(15);
    opacity: 0%;
  }
}

@keyframes createArrivalAfterEffect2 {
  0% {
    background-color: var(--fx4Transition1);
    transform: translate(-50%, -50%) scale(1);
    opacity: 90%;
  }
  40% {
    opacity: 45%;
  }
  60% {
    background-color: var(--fx4Transition2);
    opacity: 20%
  }
  75% {
    opacity: 1%
  }
  100% {
    background-color:var(--fx4Transition3);
    transform: translate(-50%, -50%) scale(15);
    opacity: 0%;
  }
}
