.sidebar-left {
  z-index: 200;
}

#soundon {
  width: 90%;
  margin: 0 auto 20px;
  padding: 5px 0;
  background-color: #e48d6a;
  color: #000;
  /* font-weight: bold; */
  font-size: 1.3rem;
  border: 1px solid #999;
  border-radius: 2px;
  cursor: pointer;
}
:root {
  --service-1: #d0f086;
  --service-2: #b2e63a;
} 

#soundon:disabled {
  background-color: var(--service-1);
  cursor: not-allowed;
  animation: colorTransition 2s infinite alternate;
}

@keyframes colorTransition {
  0% {
    background-color: var(--service-1);
  }
  50% {
    background-color: var(--service-2); /* slightly different color */
  }
  100% {
    background-color: var(--service-1);
  }
}

.mute-icon {
  height: 25px;
}

.mute {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 5px 4px;
  background: #fff;
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: height 1s ease, opacity 3s ease;
}

.open {
  height: auto;
  opacity: 1;
}

.btn-temp-left {
  width: 100%;
  margin: 0 auto 10px;
  background-color: #fff;
  color: #444;
  font-size: 1.1rem;
  border: 1px solid #555;
  border-radius: 2px;
  cursor: pointer;
}

.btn-line {
  width: 100%;
  margin: 1px auto;
  background-color: #fff;
  color: #fff;
  font-size: 1.4rem;
  /* border: 1px solid #555; */
  border: none;
  /* border-radius: 2px; */
  cursor: pointer;
  height: 30px;
}

.btn-bakerloo {
  background-color: rgb(160, 112, 34);
  margin-top: 10px;
}

.btn-central {
  background-color: rgb(220, 36, 31);
}

.btn-circle {
  background-color: rgb(255, 211, 41);
}

.btn-district {
  background-color: rgb(0, 125, 50);
}

.btn-hammersmith-city {
  background-color: rgb(244, 169, 190);
  font-size: 1.2rem;
}

.btn-jubilee {
  background-color: rgb(161, 165, 167);
}

.btn-metropolitan {
  background-color: rgb(117, 16, 86);
}

.btn-northern {
  background-color: rgb(0, 0, 0);
}

.btn-piccadilly {
  background-color: rgb(0, 25, 168);
}

.btn-victoria {
  background-color: rgb(0, 152, 216);
}

.btn-waterloo-city {
  background-color: rgb(106, 187, 170);
}

.underline-bakerloo {
  min-height: 5px;
  background: rgb(160, 112, 34);
  margin-bottom: 3px;
}