.App {
  text-align: center;
  max-height: 100vh;
}

.landing-page {
  max-width: 1000px;
  margin: 0 auto;
}

.app-nav {
  background-color: #313a4a;
  margin: 0 0 5px;
  padding: 2px;
}

.App .app-nav h2 {
  color: #fff;
  margin: 10px;
  padding: 0;
  font-size: 2.5rem;
}

.App-logo {
  height: 40vmin;
  margin: 10px auto 30px;
  height: 400px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #313a4a; */
  background-color: #fff;
  max-height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: first baseline; */
  font-size: calc(10px + 2vmin);
  color: white;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.blurb {
  background-color: #313a4a;
}

.blurb .top-text {
  padding-top: 40px;
}
.blurb .bottom-text {
  padding-bottom: 1000px;
}

.blurb p {
  color: #fff;
  font-size: 1.5rem;
  margin: 5px;
}

.blue-break {
  background-color: #042ed7;
  height: 10px;
  width: 100%;
}

@media (max-width: 900px) {
  .App .app-nav h2 {
    font-size: 2rem;
  }
  .App-logo {
    height: 50vmin;
    margin: 10px auto;
  }
  .landing-page p {
    font-size: 1rem;
  }
}

@media (max-width: 700px) {
  .App .app-nav h2 {
    font-size: 1rem;
  }
  .App-logo {
    height: 60vmin;
    margin: 0 auto;
  }
  .mid-text, .bottom-text {
    display: none;
  }
  .blurb .top-text {
    padding-bottom: 1000px;
  }
}

@media (max-width: 500px) {
  .App-logo {
    height: 70vmin;
  }
  .landing-page p {
    font-size: 0.7rem;
  }
  .blurb .top-text {
    padding-top: 10px;
  }
}

@media (max-width: 300px) {
  .App-logo {
    margin: -10px auto;
  }
}